<div class="main-div">
  <div class="form-div">
    <h3 class="text-center title">Sign Up</h3>
    <br />

    <!-- if there is an error message show it alert box -->
    <% if (error) { %>
    <div class="alert alert-danger" role="alert"><%= error %></div>
    <% } %>
    <br />

    <!-- signup form -->
    <form action="/signup" method="post">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          type="name"
          class="form-control"
          id="name"
          placeholder="Enter your name"
          name="name"
          required
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="name@example.com"
          name="email"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
        />
      </div>
      <div class="mb-3">
        <label for="cpassword" class="form-label">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="cpassword"
          name="cpassword"
          required
        />
      </div>
      <div class="mb-3">
        <div class="g-recaptcha" data-sitekey="6LfAIgQqAAAAAJTHKIQ4Mkz6nn5c_P31x77Y7FV_"></div>
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </form>

    <!-- Signup with google div -->
    <div class="row">
      <div class="col-12">
        <p class="d-grid gap-2 mt-4 text-center">Or sign up with</p>
        <div class="d-grid col-4 gap-2 mx-auto">
          <a href="/auth/google" class="btn bsb-btn-xl btn-outline-primary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-google"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"
              />
            </svg>
            <span class="ms-2 fs-6">Google</span>
          </a>
        </div>
      </div>
    </div>
    <hr />

    <!-- Already a user div -->
    <div class="row mt-3">
      <div class="col-md-12">
        <a
          class="inline-block align-baseline font-bold text-sm float-end msg-s"
          href="/"
        >
          Already a user? Login
        </a>
      </div>
    </div>
  </div>
</div>
